!*.py
!*.json
!*.yaml
!*.template
*.pyc
**/__pycache__/
test.py
public/*
!public/white_reddit_template.png
!public/subscribe-animation.mp4
z_doc/*
z_other/*
videos/*
.logs/
frontend/test-results/
frontend/playwright-report/
.editing_assets/*
.hf_cache/
.hf_models/
.database/
.vscode
.env*
contentgenie.egg-info
dist
build
setup
test.ipynb
.venv/
MANIFEST.in
schema.json
video.mp4
Untitled-1.ipynb
frontend/.next/
frontend/node_modules/
